{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block page_content %}
<div class="page-header">
<h1>About</h1>
</div>
<p1>Данный проект создан для конвертирования файлов в формате .JPG в формат .PDF.</p1>
    <p2>Для того, чтобы сконвертировать ваши фотографии из формата JPG в PDF нужно:</p2>
    <ul>
        <li>Нажать на кнопку <b>"Browse..."</b></li>
    <li>Выбрать файл(ы) в формате JPG для конвертирования</li>
        <li>После выбора нажать кнопку <b>"Open"</b></li>
        <li>После этого нажать на кнопку <b>"Submit Query"</b></li>
</ul>
    <p1>После выполнения данных действий, вас перекинет на страницу скачивание PDF-файла.</p1>
{% endblock %}